In [1]:
# Import the dependencies
import pandas as pd
import numpy as np
import datetime

# ORM Stuff
from sqlalchemy import create_engine, inspect, text

In [2]:
df = pd.read_csv("Resources/stadiums.csv")
df.head()

                Team Team_abv League Division        Lat        Long
0   Dallas Mavericks      DAL    NBA     West  32.790556  -96.810278
1      Orlando Magic      ORL    NBA     East  28.539167  -81.383611
2  San Antonio Spurs      SAS    NBA     West  29.426944  -98.437500
3     Denver Nuggets      DEN    NBA     West  39.748920 -105.008400
4      Brooklyn Nets      BKN    NBA     East  40.682661  -73.975225

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team      151 non-null    object
 1   Team_abv  151 non-null    object
 2   League    151 non-null    object
 3   Division  151 non-null    object
 4   Lat       151 non-null    float64
 5   Long      151 non-null    float64
dtypes: float64(2), object(4)
memory usage: 7.2+ KB

In [4]:
# Data cleaning
df.rename(columns={
    "Team": "team",
    "Team_abv": "team_abv",
    "League": "league",
    "Division": "division",
    "Lat": "latitude",
    "Long": "longitude"
}, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   team       151 non-null    object
 1   team_abv   151 non-null    object
 2   league     151 non-null    object
 3   division   151 non-null    object
 4   latitude   151 non-null    float64
 5   longitude  151 non-null    float64
dtypes: float64(2), object(4)
memory usage: 7.2+ KB

In [5]:
# Data Cleaning
df = df[df['league'] == 'MLB']

# Save the cleaned file
df.to_csv("Resources/stadiums_mlb.csv", index=False)

# Display the first few rows of the updated DataFrame
df

                      team team_abv league    division   latitude   longitude
94       Milwaukee Brewers      MIL    MLB  NL Central  43.028333  -87.971111
95      Los Angeles Angles      LAA    MLB     AL West  33.800278 -117.882778
96     St. Louis Cardinals      STL    MLB  NL Central  38.622500  -90.193056
97    Arizona Diamondbacks       AZ    MLB     NL West  33.445278 -112.066944
98           New York Mets      NYM    MLB     NL East  40.756944  -73.845833
99   Philadelphia Phillies      PHI    MLB     NL East  39.905833  -75.166389
100         Detroit Tigers      DET    MLB  AL Central  42.339167  -83.048611
101       Colorado Rockies      COL    MLB     NL West  39.756111 -104.994167
102    Los Angeles Dodgers      LAD    MLB     NL West  34.073611 -118.240000
103         Boston Red Sox      BOS    MLB     AL East  42.346250  -71.097750
104          Texas Rangers      TEX    MLB     AL West  32.747361  -97.084167
105        Cincinnati Reds      CIN    MLB  NL Central  39.097500  -84.506667
106      Chicago White Sox      CWS    MLB  AL Central  41.830000  -87.633889
107     Kansas City Royals       KC    MLB  AL Central  39.051000  -94.480000
108          Miami Marlins      MIA    MLB     NL East  25.778056  -80.219722
109         Houston Astros      HOU    MLB     AL West  29.756944  -95.355556
110   Washington Nationals      WSH    MLB     NL East  38.872778  -77.007500
111      Oakland Athletics      OAK    MLB     AL West  37.751667 -122.200556
112   San Francisco Giants       SF    MLB     NL West  37.778611 -122.389167
113      Baltimore Orioles      BAL    MLB     AL East  39.283889  -76.621667
114       San Diego Padres       SD    MLB     NL West  32.707300 -117.156600
115     Pittsburgh Pirates      PIT    MLB  NL Central  40.446944  -80.005833
116     Cleveland Guadians      CLE    MLB  AL Central  41.495833  -81.685278
117      Toronto Blue Jays      TOR    MLB     AL East  43.641389  -79.389167
118       Seattle Mariners      SEA    MLB     AL West  47.591000 -122.333000
119        Minnesota Twins      MIN    MLB  AL Central  44.981667  -93.278333
120         Tampa Bay Rays       TB    MLB     AL East  27.768333  -82.653333
121         Atlanta Braves      ATL    MLB     NL East  33.890000  -84.468000
122           Chicago Cubs      CHC    MLB  NL Central  41.948056  -87.655556
123       New York Yankees      NYY    MLB     AL East  40.829167  -73.926389

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 94 to 123
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   team       30 non-null     object
 1   team_abv   30 non-null     object
 2   league     30 non-null     object
 3   division   30 non-null     object
 4   latitude   30 non-null     float64
 5   longitude  30 non-null     float64
dtypes: float64(2), object(4)
memory usage: 1.6+ KB

In [7]:
# Table join
hitting_leaders = pd.read_csv("Resources/hitting_leaders.csv")
stadiums = pd.read_csv("Resources/stadiums_mlb.csv")

# Merge on team_abv
df2 = hitting_leaders.merge(stadiums, on='team_abv', how='left')
df2

,year,player_name,player_position,team_abv,G,AB,R,H,2B,3B,...,CS,AVG,OBP,SLG,OPS,team,league,division,latitude,longitude
0,2022,Aaron Judge,CF,NYY,157,570,133,177,28,0,...,3,0.311,0.425,0.686,1.111,New York Yankees,MLB,AL East,40.829167,-73.926389
1,2022,Yordan Alvarez,DH,HOU,135,470,95,144,29,2,...,1,0.306,0.406,0.613,1.019,Houston Astros,MLB,AL West,29.756944,-95.355556
2,2022,Paul Goldschmidt,1B,STL,151,561,106,178,41,0,...,0,0.317,0.404,0.578,0.982,St. Louis Cardinals,MLB,NL Central,38.622500,-90.193056
3,2022,Jose Altuve,2B,HOU,141,527,103,158,39,0,...,1,0.300,0.387,0.533,0.920,Houston Astros,MLB,AL West,29.756944,-95.355556
4,2022,Freddie Freeman,1B,LAD,159,612,117,199,47,2,...,3,0.325,0.407,0.511,0.918,Los Angeles Dodgers,MLB,NL West,34.073611,-118.240000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2019,Khris Davis,DH,OAK,133,481,61,106,11,0,...,0,0.220,0.293,0.387,0.680,Oakland Athletics,MLB,AL West,37.751667,-122.200556
535,2019,Brandon Crawford,SS,SF,147,500,58,114,24,2,...,2,0.228,0.304,0.350,0.654,San Francisco Giants,MLB,NL West,37.778611,-122.389167
536,2019,Yolmer Sánchez,2B,CWS,149,496,59,125,20,4,...,4,0.252,0.318,0.321,0.639,Chicago White Sox,MLB,AL Central,41.830000,-87.633889
537,2019,Mallex Smith,CF,SEA,134,510,70,116,19,9,...,9,0.227,0.300,0.335,0.635,Seattle Mariners,MLB,AL West,47.591000,-122.333000
538,2019,Orlando Arcia,SS,MIL,152,494,51,110,16,1,...,5,0.223,0.283,0.350,0.633,Milwaukee Brewers,MLB,NL Central,43.028333,-87.971111

In [8]:
# Reorg columns
cols = list(df2.columns)
cols.insert(cols.index('team_abv'), cols.pop(cols.index('team')))
cols.insert(cols.index('team_abv') + 1, cols.pop(cols.index('latitude')))
cols.insert(cols.index('team_abv') + 2, cols.pop(cols.index('longitude')))
df2 = df2[cols]

df2

,year,player_name,player_position,team,team_abv,latitude,longitude,G,AB,R,...,BB,SO,SB,CS,AVG,OBP,SLG,OPS,league,division
0,2022,Aaron Judge,CF,New York Yankees,NYY,40.829167,-73.926389,157,570,133,...,111,175,16,3,0.311,0.425,0.686,1.111,MLB,AL East
1,2022,Yordan Alvarez,DH,Houston Astros,HOU,29.756944,-95.355556,135,470,95,...,78,106,1,1,0.306,0.406,0.613,1.019,MLB,AL West
2,2022,Paul Goldschmidt,1B,St. Louis Cardinals,STL,38.622500,-90.193056,151,561,106,...,79,141,7,0,0.317,0.404,0.578,0.982,MLB,NL Central
3,2022,Jose Altuve,2B,Houston Astros,HOU,29.756944,-95.355556,141,527,103,...,66,87,18,1,0.300,0.387,0.533,0.920,MLB,AL West
4,2022,Freddie Freeman,1B,Los Angeles Dodgers,LAD,34.073611,-118.240000,159,612,117,...,84,102,13,3,0.325,0.407,0.511,0.918,MLB,NL West
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2019,Khris Davis,DH,Oakland Athletics,OAK,37.751667,-122.200556,133,481,61,...,47,146,0,0,0.220,0.293,0.387,0.680,MLB,AL West
535,2019,Brandon Crawford,SS,San Francisco Giants,SF,37.778611,-122.389167,147,500,58,...,53,117,3,2,0.228,0.304,0.350,0.654,MLB,NL West
536,2019,Yolmer Sánchez,2B,Chicago White Sox,CWS,41.830000,-87.633889,149,496,59,...,44,117,5,4,0.252,0.318,0.321,0.639,MLB,AL Central
537,2019,Mallex Smith,CF,Seattle Mariners,SEA,47.591000,-122.333000,134,510,70,...,42,141,46,9,0.227,0.300,0.335,0.635,MLB,AL West
538,2019,Orlando Arcia,SS,Milwaukee Brewers,MIL,43.028333,-87.971111,152,494,51,...,43,109,8,5,0.223,0.283,0.350,0.633,MLB,NL Central

In [9]:
# Save the merged dataset
df2.to_csv("Resources/mlb_dataset.csv", index=False)

In [10]:
# WRITE TO DATABASE

In [11]:
engine = create_engine("sqlite:///mlb_dataset.sqlite")

In [12]:
# Write to SQL
df2.to_sql(name="mlb_dataset", con=engine, index=False, if_exists="append", method="multi")

539

In [13]:
# Create the inspector and connect
inspector = inspect(engine)

# Collect the names of tables within the database
tables = inspector.get_table_names()

# Using the inspector to print the column names within the 'dow' table and its types
for table in tables:
    print(table)
    print("--------")
    columns = inspector.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

mlb_dataset
--------
year BIGINT
player_name TEXT
player_position TEXT
team TEXT
team_abv TEXT
latitude FLOAT
longitude FLOAT
G BIGINT
AB BIGINT
R BIGINT
H BIGINT
2B BIGINT
3B BIGINT
HR BIGINT
RBI BIGINT
BB BIGINT
SO BIGINT
SB BIGINT
CS BIGINT
AVG FLOAT
OBP FLOAT
SLG FLOAT
OPS FLOAT
league TEXT
division TEXT

In [14]:
engine.dispose()